<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Home page</title>
	</head>

	<body style="background-color:#f0e2c8">

		<h1 style="background-color:#fd4f2a">
			<center>Bitcoin in USD</center>
		</h1>
		<p>
			Hello everyone. Here you can see the bitcoin in the United States Dollar (USD)
		</p>
		<div>
			<h2>1 Bitcoin = {{price}} $</h2>
			<h2>The average price for the last month equals {{avg}} $</h2>
		</div>
		<img src="{{plot}}" alt="scatter plot" />

	</body>
</html>